{% extends "base.html" %}

{% block title %} MyBlog {% endblock %}


{% block content %}

<main class="container py-5">
    <div class="row g-4">
        <!-- CARD 1 -->
        {% for blog in my_blog %}
        <div class="col-lg-4 col-md-6 col-12">
            <div class="card shadow h-100 border-0">
                <a href="{{ url_for('blogDetail', id=blog.id) }}">
                    <img 
                    loading="lazy"
                    src="{{ url_for('static', filename='uploads/' + blog.images) }}" 
                    class="card-img-top img-fluid blog-image"
                    alt="Blog Image"
                    >
                </a>
                <div class="card-body text-center">
                    <h3 class="card-title">
                        {{blog.title}}
                    </h3>
                    <p class="card-text">
                        {{ blog.description | striptags | truncate(150, True, '...') }}
                    </p>
                    {% if session.get('role') == 'admin' %}
                        <div class="d-flex justify-content-center gap-3 mt-4">
                            <a data-bs-toggle="modal" data-bs-target="#updateModal{{ blog.id }}" class="btn btn-success px-4">Update</a>
                            <a href="/deleteBlog/{{blog.id}}" class="btn btn-danger px-4" onclick="return confirm('Are Sure To Delete?')">Delete</a>
                        </div>
                    {% else %}
                        <div class="text-center mt-4">
                            <a href="{{ url_for('blogDetail', id=blog.id) }}" class="btn btn-primary px-4">Blog Details</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</main>

{% endblock %}